body {
  background:url(../img/background.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.starter-template {
	padding: 90px 15px;
	text-align: center;
}

section h1 {
	font-size: 50px;
	color: #fff;
	font-family: "Brandon Text";
	font-weight:lighter;
	padding-top: 30px;
}

#icon {
	width:7%;
}

#title h1 {
	font-size: 30px;
	color: #fff;
	font-family: "Brandon Text";
	font-weight:lighter;
}

#showMe {
	border: 2px solid rgba(0,0,0,.07);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #42464a;
	outline:none;
	color: #fff;
	font-family: "Brandon Text";
	font-size: 25px;
	padding:10px 30px;
}

.emailBar {
	display:inline-block;
	padding-top: 45px;
}

.emailBar1 {
	width:350px;
	padding:10px;
}

.content {
	float: left;
	padding: 25px;
	margin-top: -10px;
	color: #cbcccd;
	font-family: "Brandon Text";
	font-size:20px;
}